@model List<MVCDay3.Models.Student>
@{
    ViewBag.title = "student";
    Layout = "~/Views/Shared/_layout.cshtml";
}

@Html.ActionLink("Add Student", "create", "Students", new { @class = "btn btn-info pd-10" })
<br /><br />

<form method="post" action="find">
    <input type="text" name="Name"/>
    <button class="btn btn-info" type="submit">Find</button>
</form>
<br /><br />

<table class="table table-active">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
        <th>Department</th>
        <th>Edit</th>
        <th>Delete</th>

    </tr>
    @{
        foreach (var i in Model)
        {
        <tr>
            <td>@i.Name</td>
            <td>@i.Age</td>
            <td>@i.Address</td>
            <td>@i.department.Name</td>
            <td>@Html.ActionLink("Edit", "edit", "Students", new { id = i.Id }, new { @class = "btn btn-info" })</td>
            <td>@Html.ActionLink("Delete", "delete", "Students", new { id = i.Id }, new { @class = "btn btn-danger" })</td>

        </tr>
        }
    }
</table>

