<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>@ViewBag.title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/Content/css/main.css'>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="header">
        @Html.ActionLink("Students", "index", "Students")
        @Html.ActionLink("Departments", "depts", "Students")
        @Html.ActionLink("Instractor", "instractor", "Students")
        @Html.ActionLink("contact", "contact", "Students")
        @Html.ActionLink("about", "about", "Students", new { @class = "active" })

    </div>
    <div class="mid ">
        <div class="slidbar">
            @Html.ActionLink("Students", "index", "Students")
            @Html.ActionLink("Departments", "depts", "Students")
            @Html.ActionLink("Instractor", "instractor", "Students")
            @Html.ActionLink("contact", "contact", "Students")
            @Html.ActionLink("about", "about", "Students", new { @class = "active" })
        </div>
        <div class="main">
            @RenderBody()
        </div>
    </div>
    <div class="header">
        @Html.ActionLink("Students", "index", "Students")
        @Html.ActionLink("Departments", "depts", "Students")
        @Html.ActionLink("Instractor", "instractor", "Students")
        @Html.ActionLink("contact", "contact", "Students")
        @Html.ActionLink("about", "about", "Students", new { @class = "active" })
    </div>
</body>
</html>